<h1>Add New User</h1>
<form action="" method="post">
<input type="text" name="name" placeholder="Enter Name" required><br><br>
<input type="email" name="email" placeholder="Enter Email" required><br><br>
<input type="number" name="mobile" placeholder="Enter Mobile" required><br><br>
<input type="password" name="password" placeholder="Enter password" required><br><br>
<input type="submit" value="Add User">
</form>

<% 
    if(typeof message !== 'undefined'){
        %>
        <p style="color: red;"><%- message %></p>
        <%
    }
%>
