

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/tiny-slider.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/login.js"></script>

</body>

</html>
