<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/admin_assets/imgs/theme/log.png" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link " href="/admin">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item  ">
                <a class="menu-link" href="/admin/customerDetails">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Customers</span>
                </a>
            </li>

            <li class="menu-item  ">
                <a class="menu-link" href="/admin/categoryDetails">
                    <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
            </li>
        
            <li class="menu-item">
                <a class="menu-link" href="/admin/Productlist">
                    <i class="icon material-icons md-comment"></i>
                    <span class="text">Product</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orderDetails"> <i class="icon material-icons md-stars"></i> <span class="text">Orders</span> </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="/admin/coupon">
                    <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/offer">
                    <i class="icon material-icons md-local_offer"></i>

                    <span class="text">Offers</span>
                </a>

            </li>
            <li class="menu-item">
                <a class="menu-link" disabled  href="/admin/salesreport">
                    <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Sales  Report</span>
                </a>
            </li>
        </ul>
        <hr />
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/offerPage">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">  Product offerPage </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/CategoryofferPage">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text">  Category offerPage </span>
                </a>
            </li>
        </ul>
        <br />
        <br />
    </nav>
</aside>
